<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>HTML Academy: Мишка</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body class="page">
		<header>
			<ul>
				{% for link in [{ title: 'Главная', page: 'index' }, { title: 'Каталог', page: 'catalog' }] %}
					<li>
						<a {{ page == link.page ? 'aria-current="page"' : 'href="' ~ link.page ~ '.html"' }}>
							{{ link.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</header>

		{% block main %}
			<main>
				<p>Репозиторий создан для обучения на профессиональном онлайн‑курсе «<a href="https://htmlacademy.ru/intensive/adaptive">HTML и CSS. Адаптивная вёрстка и автоматизация</a>».</p>
			</main>
		{% endblock %}

		<footer></footer>

		<script>
			window.pixelperfect = {
				breakpoints: [320, 768, 1150]
			};
		</script>
		<script src="https://efiand.github.io/pixelperfect-tool/pixelperfect.min.js"></script>
	</body>
</html>
